<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Actualizar Perfil</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body class="card text-bg-info mb-3" >
<main>
    <form method="POST" action="#" th:object="${ProfileUpdate}"  th:action="@{/updateProfileBD}">
        <div class="position-relative text-center">
            <div class="position-absolute top-50 start-50 translate-middle-x" >
          <span class="border border-5">
              <img src="../task.jpg" class="img-thumbnail" height="300" width="300">
          </span>
                <div class="text-md">
                    <h3> ACTUALIZA  TUS DATOS </h3>
                </div>

                <div >
                    <b><label for="idProfile" class="form-label">Id</label></b>
                    <input type="text" class="form-control" th:value="*{idProfile}"  th:field="*{idProfile}" id="idProfile" placeholder="Enter  idProfile">

                    <b><label for="nameProfile" class="form-label">Nombre</label></b>
                    <input type="text" class="form-control" th:value="*{nameProfile}"  th:field="*{nameProfile}" id="nameProfile" placeholder="Enter name of Profile">
                </div>
                

                <div class="col -12">
                    <b><label for="phoneProfile" class="form-label">Telefono</label></b>
                    <input type="text" class="form-control"  th:value="*{phoneProfile}"  th:field="*{phoneProfile}" id="phoneProfile" placeholder="Enter  idProfile">
                </div>


                <form action="/action_page.php">
                    <b><label for="createdAtProfile">Fecha creacion</label></b><br>
                    <input type="date" th:value="*{createdAtProfile}" th:field="*{createdAtProfile}" id="createdAtProfile" name="createdAtProfile">
                </form>


                <div class="col-lg-6 mx-auto mb-5 w-50 p-3">
                    <button class="btn btn-primary" type="submit">Actualizar Datos</button>
                </div>
                <div>
                    <p> MinTic 2022 </p>
                </div>
            </div>
        </div>
    </form>

</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>